            </section>
        </div>

        <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
            <footer class="inner">
                <p class="copyright">
                    {{ site.github.project_title }} maintained by
                    <a href="{{ site.github.owner_url }}">
                        {{ site.github.owner_name }}
                    </a>
                </p>
                <p>
                    Published with
                    <a href="http://pages.github.com">
                        GitHub Pages
                    </a>
                </p>
            </footer>
        </div>
    </body>
</html>
